
/* src/App.css */
*{
  background-color: black;
  color: white;
}
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

img {
  display: block;
  margin: 0 auto;
}

tr, th{
  background-color: black;
}